body {
	  background-image: url('background.jpg');
	  text-align: center;
	  font-family: 'Oxanium', cursive; 
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-attachment: fixed;
}

