body {
	  background-image: url('background.jpg');
	  text-align: center;
	  font-family: Trebuchet MS; 
}

div {
	 background-color: #72717E;
	 color: white;
	 border: 10px solid #27262F;
}	